@import 'tailwindcss';

/* Additional styles */
@import '_style/utility-patterns.css';
@import '_style/range-slider.css';
@import '_style/toggle-switch.css';
@import '_style/theme.css';

@config '../tailwind.config.ts';

@layer utilities {
	.rtl {
		direction: rtl;
	}
}
* {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden; /* Chrome and Safari */
	-moz-backface-visibility: hidden; /* Firefox */
}
